<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>500 - Server Error</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="container">
    <div class="number">500</div>
    <div class="text">
      <span>Ooops...</span>
      <br>
      Server Error
    </div>
    <a class="me" href="https://codepen.io/uzcho_/pens/popular/?grid_type=list" target="_blank">Back to Home</a>
  </div>
</body>
</html>
